name: NPM lint and test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: build-lint-test

    steps:
      - uses: actions/checkout@v6
      #- uses: actions/setup-node@v3
      #  with:
      #    node-version: 16
      - uses: bahmutov/npm-install@v1 # For improved caching of NPM/Yarn
      - run: yarn --frozen-lockfile
      - run: npm run build
      - run: npm run lint
      - run: npm run test

  build-example:
    runs-on: ubuntu-latest
    name: build-lint-test example

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - uses: bahmutov/npm-install@v1 # For improved caching of NPM/Yarn
        with:
          working-directory: example
      - run: yarn --frozen-lockfile
        working-directory: example
      - run: npm run build
        working-directory: example
